@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
html, body {
  min-height: 100%;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden !important;
}
body {
  background-image: url(imagens/torcidafundo.jpg);
  background-size: cover;
  width: 100%;
}
header {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 103px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  width: 173px;
  height: 70px;
  padding: 15px;
  margin-right: 100px;
}
#menu {
  display: inline-block;
  text-align: center;
  width: 45%;
}
#menu ul {
  display: inline-block;
  list-style: none;
  text-align: center;
}

#menu ul li {
  display: inline;
  margin-right: 30px;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
  }
h1 {
  font-family: "Roboto Condensed";
  text-align: left;
  margin-left: 20px;
  font-size: 1.7em;
}
h2 {
  margin-top: 20px;
  margin-left: 40px;
  padding-left: 10px;
  font-family: "Roboto Condensed";
  background-image: linear-gradient(
    to right,
    #2AAAE7,
    transparent
  );
}
a.nav {
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 1em;
  text-shadow: 2px 2px 2px black;
  padding: 10px;
  border-radius: 10px;
}
a:hover{
    background-color: rgba(240, 248, 255, 0.158);
}
p{
  margin: 20px;
  font-family: "Roboto Condensed";
  text-indent: 15px;
  text-align: justify;
  margin-top: 15px;
}
#hino {
  font-family: "Roboto Condensed";
  font-style: italic;
  text-align: center;
}

.gremio {
  width: 50%;
  display: block;
  margin: auto;
}

div.video{
    background-image: linear-gradient(to bottom, #2AAAE7, black);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div.video > iframe{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}
footer{
    background-color: black;
    color: white;
    padding:4px;
}
footer p{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
}